<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/imgsAll/imgHome/image 193.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/scss/inspiration.css">
    <link rel="stylesheet" href="../assets/ResCss/ResInspiration.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gt-Light&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Inspiration | JourneyLife</title>
</head>
<body class="js-change-background">
    <div class="container">
        <div class="header">
            <div class="navbar">
                <a href="/index.html" class="navbar__item-left">
                    <img src="../assets/imgsAll/imgTraveling/image 571.png" alt="">
                    Home</a>
                <div class="navbar__item-category">
                    <div class="navbar__item-category-create">
                        <i class="fa-solid fa-plus"></i>
                        Create
                    </div>
                    <div class="navbar__item-category-search">
                       <div class="">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Find place you want here...">
                       </div>
                        <select name="" id="">
                            <option value="">Experience</option>
                        </select>
                    </div>
                    <div class="navbar__item-category-right">
                        <div class="navbar__item-category-right-user">
                            <img class="info-user-avt"src="../assets/imgsAll/imgTraveling/usser.png" alt="">
                            <span class="info-user-username">qhoang1050</span>
                        </div>
                        <div class="navbar__item-category-right-menu">
                            <i class="js-open-menu fa-solid fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body js-change-background">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 place">
                        <div class="place-item">
                            <img src="../assets/imgsAll/imgTraveling/tải xuống (1) 5.png" alt="">
                            <div class="place-item-content">
                                <div class="place-item-content-name">
                                    <span>Place information</span>
                                </div>
                                <div class="place-item-content-like">
                                    <i class="fa-regular fa-heart js-inspi-heart-bor"></i>
                                    <i class="fa-solid fa-heart js-inspi-heart-solid hidden"></i>
                                    <span class="js-inspi-like">100</span>
                                </div>
                            </div>
                        </div>
                        <div class="place-item">
                            <img src="../assets/imgsAll/imgTraveling/Your Search History Could Dictate What You Pay For A Flight 2.png" alt="">
                            <div class="place-item-content">
                                <div class="place-item-content-name">
                                    <span>Place information</span>
                                </div>
                                <div class="place-item-content-like">
                                    <i class="fa-regular fa-heart js-inspi-heart-bor"></i>
                                    <i class="fa-solid fa-heart js-inspi-heart-solid hidden"></i>
                                    <span class="js-inspi-like">100</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-4 col-md-6 place">
                        <div class="place-item">
                            <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                            <div class="place-item-content">
                                <div class="place-item-content-name">
                                    <span>Place information</span>
                                </div>
                                <div class="place-item-content-like">
                                    <i class="fa-regular fa-heart js-inspi-heart-bor"></i>
                                    <i class="fa-solid fa-heart js-inspi-heart-solid hidden"></i>
                                    <span class="js-inspi-like">100</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-4 col-md-6 place">
                        <div class="place-item">
                            <img src="../assets/imgsAll/imgTraveling/15 Best Places To Visit In Vietnam 2.png" alt="">
                            <div class="place-item-content">
                                <div class="place-item-content-name">
                                    <span>Ha Long Bay - Viet Nam</span>
                                </div>
                                <div class="place-item-content-like">
                                    <i class="fa-regular fa-heart js-inspi-heart-bor"></i>
                                    <i class="fa-solid fa-heart js-inspi-heart-solid hidden"></i>
                                    <span class="js-inspi-like">1000</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay overlay-menu js-overlay-menu">
        <div class="modal-menu js-modal-menu js-change-background ">
            <div class="modal-menu-header ">
                <div class="modal-menu-header-logo"></div>
                <i class="js-btn-close-menu fa-solid fa-bars js-change-color"></i>
            </div>
            <div class="modal-menu-body">
                <a id="profileLink" class="modal-menu-body-user">
                  <img src="../assets/imgsAll/imgHome/AVT-FB CỦA TUI.jpg" id = "avatar" alt="">
                  <div class="modal-menu-body-user-content">
                    <h1 class="modal-menu-body-user-content-heading js-change-color" id='fullname'>Color of bugs</h1>
                    <span class="js-change-color" id='email'>colorofbug@gmail.com</span>
                  </div>
                </a>
                <div class="modal-menu-body-utilities">
                    <a href="" class="modal-menu-body-utilities-btn">
                        <div class="modal-menu-body-utilities-btn-left">
                            <img src="../assets/imgsAll/imgHome/image 532.png" alt="">
                            <span>Message</span>
                        </div>
                        <span class="info-account-message-number">5</span>
                    </a>
                    <a href="" class="modal-menu-body-utilities-btn">
                        <div class="modal-menu-body-utilities-btn-left">
                            <img src="../assets/imgsAll/imgHome/image 533.png" alt="">
                            <span>Cart</span>
                        </div>
                        <span class="info-account-cart-number">5</span>
                    </a>
                    <a href=" " class="modal-menu-body-utilities-btn">
                        <div class="modal-menu-body-utilities-btn-left">
                            <img src="../assets/imgsAll/imgHome/image 541.png" alt="">
                            <span>Notification</span>
                        </div>
                        <span class="info-account-cart-number">5</span>
                    </a>
                    <div class="modal-menu-body-utilities-btn">
                        <div class="modal-menu-body-utilities-btn-left">
                            <img src="../assets/imgsAll/imgHome/image 535.png" alt="">
                            <span>Darkmode</span>
                        </div>
                        <div class="content-btn">
                            <i class="fa-solid fa-circle icon-light js-icon-light"></i>
                            <i class="fa-solid fa-circle icon-dark js-icon-dark"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-menu-body-navbar">
                        <a href="/index.html" class="modal-menu-body-navbar-btn">
                            <img src="../assets/imgsAll/imgHome/image 536.png" alt="">
                            <span>Home</span>
                        </a>
                        <div class="modal-menu-body-navbar-btn js-show-list-navbar">
                            <img src="../assets/imgsAll/imgHome/image 537.png" alt="">
                            <span>Explore</span>
                        </div>
                        <div class="modal-menu-body-navbar-btn modal-menu-body-navbar-btn--explore js-show-navbar">
                            <a href="../assets/html/korea.htm">Korea</a>
                            <a href="../assets/html/Japan.html">Japan</a>
                        </div>
                        <a href="../assets/html/vietnam.html" class="modal-menu-body-navbar-btn">
                            <img src="../assets/imgsAll/imgHome/halong-bay-vietnam (2) 2.png" alt="">
                            <span>Viet Nam</span>
                        </a>
                        <a href="../assets/html/inspiration.html" class="modal-menu-body-navbar-btn">
                            <img src="../assets/imgsAll/imgHome/image 538.png" alt="">
                            <span>Inspiration</span>
                        </a>
                        <a href="#" class="modal-menu-body-navbar-btn">
                            <img src="../assets/imgsAll/imgHome/image 539.png" alt="">
                            <span>Traveling</span>
                        </a>
                        <a href="/contact" class="modal-menu-body-navbar-btn">
                            <img src="../assets/imgsAll/imgHome/image 540.png" alt="">
                            <span>Comunicate</span>
                        </a>
                        <a href="../assets/html/login.html" class="modal-menu-body-navbar-btn modal-menu-body-navbar-btn--login">
                            <span>Login</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                </div>
            </div>          
           
      
    </div>
     </div>
     <div class="overlay overlay-item">
        <div class="modal-item row">
            <div class="col-lg-5 col-md-12 modal-item-list-img">
                <div class="modal-item-img">
                    <img src="../assets/imgsAll/imgTraveling/Ha Long Bay Vietnam -  a UNESCO World Heritage Site 11.png" alt="">
                    <div class="modal-item-img-name">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Ha Long Bay - Viet Nam</span>
                    </div>
                </div>
                <!-- <div class="modal-item-arrow">
                    <i class="fa-solid fa-caret-up"></i>
                    <i class="fa-solid fa-caret-down"></i>
                </div> -->
            </div>
            <div class="col-lg-7 col-md-12 modal-item-info">
                <div class="modal-item-info-top">
                    <div class="modal-item-info-top-left">
                        <div class="modal-item-info-top-left-user">
                            <img src="../assets/imgsAll/imgTraveling/unnamed 15.png" alt="">
                            <span>qhoang1050</span>
                        </div>
                        <div class="modal-item-info-top-left-partner">
                            <i class="fa-solid fa-plus"></i>
                            Partner
                        </div>
                    </div>
                    <div class="modal-item-info-top-date">
                        <span>29/06/2024</span>
                        <i class="fa-solid fa-calendar"></i>
                    </div>
                </div>
                <div class="modal-item-info-place-description">
                    <h1>Place’s description</h1>
                    <div class="modal-item-info-place-description-shape js-shape-description">
                        <span class="js-description">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordabl Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordabl</span>
                        <div class="modal-item-info-place-description-shape-more js-btn-more-description">
                            <i class="fa-solid fa-ellipsis"></i>
                            More
                        </div>
                    </div>
                </div>
                <div class="modal-item-info-place-comments">
                    <h1>Comments</h1>
                    <div class="modal-item-info-place-comments-list js-list-comment">
                        <!-- từng cái comment -->
                        <div class="modal-item-info-place-comments-list-comment">
                            <div class="modal-item-info-place-comments-list-comment-user">
                                <img src="../assets/imgsAll/imgTraveling/usser.png" alt="">
                                <span>Viẻtbac</span>
                            </div>
                            <span>Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordablyCheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                        </div>
                        <div class="modal-item-info-place-comments-list-comment">
                            <div class="modal-item-info-place-comments-list-comment-user">
                                <img src="../assets/imgsAll/imgTraveling/usser.png" alt="">
                                <span>Viẻtbac</span>
                            </div>
                            <span>Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordablyCheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                        </div>
                        <div class="modal-item-info-place-comments-list-comment">
                            <div class="modal-item-info-place-comments-list-comment-user">
                                <img src="../assets/imgsAll/imgTraveling/usser.png" alt="">
                                <span>Viẻtbac</span>
                            </div>
                            <span>Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordablyCheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-item-info-comment">
                    <div class="modal-item-info-comment-left">
                       <div class="modal-item-info-comment-left-input">
                        <img src="../assets/imgsAll/imgTraveling/image 603.png" alt="">
                        <input type="text"placeholder="What’s do you think about place...">
                       </div>
                        <button>Comment</button>
                    </div>
                    <div class="modal-item-info-comment-right">
                        <i class="fa-solid fa-heart"></i>
                        <span>156</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow js-btn-hidden-item">
            <i class="fa-solid fa-caret-left"></i>
        </div>
     </div>
    <div class="button-arrow">
        <i class="ti-arrow-up"></i>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../assets/Js/inspiration.js"></script>
</body>
</html>
<!-- Embedded JavaScript -->