<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/imgsAll/imgHome/image 193.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/scss/profile.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/ResCss/grid.css">
    <link rel="stylesheet" href="../assets/ResCss/ResProfile.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gt-Light&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Profile | JourneyLife</title>
</head>
<body>
    <div class="main">
      <div class="body">
        <div class="container">
          <div class="row g-0 " style="height: 100%;">
            <div class="col-lg-1 col-md-12 navbar">
                <div class="navbar-list">
                  <a href="../index.html" class="navbar-list-item">
                    <img src="../assets/imgsAll/imgProfile/house.png" alt="" style="width:50%">
                  </a>
                  <div class="navbar-list-item active">
                    <img src="../assets/imgsAll/imgProfile/user.png" alt="">
                  </div>
                  <div class="navbar-list-item">
                    <img src="../assets/imgsAll/imgProfile/image 377.png " alt="" style="width:45%">
                  </div>
                  <div class="navbar-list-item">
                    <img src="../assets/imgsAll/imgProfile/climbing.png" alt="">
                  </div>
                  <div class="navbar-list-item" style="margin-bottom: 0;">
                    <img src="../assets/imgsAll/imgProfile/image 379.png" alt="">
                  </div>
                </div>
                <div class="navbar-list">
                  <div class="navbar-list-item">
                    <img src="../assets/imgsAll/imgProfile/image 378.png" alt="" style="width:70%">
                  </div>
                </div>
            </div>

            <div class="col-lg-11 col-md-12 content content-user">
               <div class="row g-0" style="height:100%">
                <div class="col-lg-4 col-md-12 content-user-left">
                  <!-- chỗ ni thêm ảnh  -->
                    <div class="content-user-left-avt">
                        <div class="content-user-left-avt-add">
                          <img src="../assets/imgsAll/imgProfile/avt.png" alt="" id="profileImage">
                          <div class="content-user-left-avt-add-input">
                            <input type="file" id="fileInput">
                            <img src="../assets/imgsAll/imgProfile/image 216.png" alt="">
                          </div>
                        </div>
                        <div class="content-user-left-avt-name">
                           <h2 class="info-user-fullname">Nguyen Quang Hoang</h2>
                           <span class="info-user-level">Professional</span>
                        </div>
                       
                    </div>
                    <!-- chỗ ni get infor user  -->
                    <div class="content-user-left-account">
                        <div class="content-user-left-account-item">
                           <h2>Account detail</h2>
                           <img src="../assets/imgsAll/imgProfile/image 351.png" alt="" class="content-user-left-account-item-img">
                        </div>
                        <div class="content-user-left-account-item">
                          <span>Email</span>
                          <span class="info-accout info-accout-email" style="text-decoration: underline;">qhoang1050@gmail.com</span>
                        </div>
                        <div class="content-user-left-account-item">
                          <span>Username</span>
                          <span class="info-accout info-accout-username">qhoang1050</span>
                        </div>
                        <div class="content-user-left-account-item">
                          <span>Birthday</span>
                          <span class="info-accout info-accout-birthday">15th, November 2005</span>
                        </div>
                        <div class="content-user-left-account-item">
                          <span>Hotline</span>
                          <span class="info-accout info-accout-hotline">0836978392</span>
                        </div>
                        <div class="content-user-left-account-item">
                          <span>Country</span>
                          <span class="info-accout info-accout-country">Da Nang, Viet Nam</span>
                        </div>
                    </div>
                    <div class="content-user-left-status">
                        <div class="content-user-left-status-item">
                          <span>Status</span>
                          <span class="info-status info-status-active ">Active</span>
                        </div>
                        <div class="content-user-left-status-item">
                          <span>ID</span>
                          <span class="info-status info-status-active ">JL@qh1050</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 content-user-partner">
                    <div class="row g-0" style="height: 100%; flex-direction: column; justify-content: space-between;">
                      <div class="content-user-partner-top">
                        <div class="row g-0" style="height: 100%;justify-content: space-between;">
                          <div class="col-lg-9 col-md-8 content-user-partner-top-create">
                            <div class="content-user-partner-top-create-content">

                              <span>Experience the diversity of life, learn from the little things, constantly explore and grow with every step taken.</span>
                              <div class="content-user-partner-top-create-content-btn">Create a new bio</div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 content-user-partner-top-rewards">
                            <div class="content-user-partner-top-rewards-content">
                              <span>Your rewards</span>
                              <div class="content-user-partner-top-rewards-content-list">
                                <img src="../assets/imgsAll/imgProfile/image 350.png" alt="" class="content-user-partner-top-rewards-content-list-img">
                                <div class="content-user-partner-top-rewards-content-list-hr"></div>
                                <span class="info-rewards">1280</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- chỗ ni hiện danh sách partner -->
                        <div class="content-user-partner-body">
                          <div class="row g-0" style="height:100%">
                            <div class="col-lg-7 col-md-7 content-user-partner-body-item" style="padding-right: 20px;">
                              <div class="content-user-partner-body-item-content">
                                    <div class="content-user-partner-body-item-content-heading">
                                      <span>Your partner</span>
                                      <span class="info-number-patner">20</span>
                                    </div>
                                    <div class="content-user-partner-body-item-content-list">
                                        <div class="partner-item">
                                          <img src="../assets/imgsAll/imgProfile/bac.png" alt="" class="partner-item-avt">
                                          <div class="partner-item-if">
                                            <h1 class="partner-item-if-name">Trương Việt Bắc</h1>
                                            <div class="partner-item-if-list">
                                              <div class="partner-item-if-list-btn" style="padding:3px 12px">See details</div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 380.png" alt="">
                                              </div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="partner-item">
                                          <img src="../assets/imgsAll/imgProfile/bac.png" alt="" class="partner-item-avt">
                                          <div class="partner-item-if">
                                            <h1 class="partner-item-if-name">Trương Việt Bắc</h1>
                                            <div class="partner-item-if-list">
                                              <div class="partner-item-if-list-btn" style="padding:3px 12px">See details</div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 380.png" alt="">
                                              </div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="partner-item">
                                          <img src="../assets/imgsAll/imgProfile/bac.png" alt="" class="partner-item-avt">
                                          <div class="partner-item-if">
                                            <h1 class="partner-item-if-name">Trương Việt Bắc</h1>
                                            <div class="partner-item-if-list">
                                              <div class="partner-item-if-list-btn" style="padding:3px 12px">See details</div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 380.png" alt="">
                                              </div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="partner-item">
                                          <img src="../assets/imgsAll/imgProfile/bac.png" alt="" class="partner-item-avt">
                                          <div class="partner-item-if">
                                            <h1 class="partner-item-if-name">Trương Việt Bắc</h1>
                                            <div class="partner-item-if-list">
                                              <div class="partner-item-if-list-btn" style="padding:3px 12px">See details</div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 380.png" alt="">
                                              </div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="partner-item">
                                          <img src="../assets/imgsAll/imgProfile/bac.png" alt="" class="partner-item-avt">
                                          <div class="partner-item-if">
                                            <h1 class="partner-item-if-name">Trương Việt Bắc</h1>
                                            <div class="partner-item-if-list">
                                              <div class="partner-item-if-list-btn" style="padding:3px 12px">See details</div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 380.png" alt="">
                                              </div>
                                              <div class="partner-item-if-list-btn">
                                                <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                                              </div>

                                            </div>
                                          </div>
                                        </div>

                                     
                                    </div>
                              </div>
                            </div>
                             <!-- chỗ ni hiện thông báo -->
                            <div class="col-lg-5 col-md-5 content-user-partner-body-item">
                              <div class="content-user-partner-body-item-content">
                                <div class="content-user-partner-body-item-content-heading">
                                  <span>Notification</span>
                                  <span class="info-number-patner">20</span>
                                </div>
                                  <div class="content-user-partner-body-item-content-list">
                                      <div class="notify-item">
                                        <div class="notify-item-if">
                                          <h1>New discount for a Da Nang tour?</h1>
                                          <span>A new discount in your cart, please check it</span>
                                        </div>
                                        <div class="notify-item-btn">
                                          <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                      </div>
                                      <div class="notify-item">
                                        <div class="notify-item-if">
                                          <h1>New partner</h1>
                                          <span>Ngoc Lan was sent a partner request</span>
                                        </div>
                                        <div class="notify-item-btn">
                                          <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                      </div>
                                      
                                      <div class="notify-item">
                                        <div class="notify-item-if">
                                          <h1></h1>
                                          <span>qhoang1050 sent a message</span>
                                        </div>
                                        <div class="notify-item-btn">
                                          <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
               </div>
            </div>
            <div class="col-lg-11 col-md-12 content content-timelines">
              <div class="content-timelines-heading">
                <div class="content-timelines-heading-btn js-show-overlay-timelines">
                  <i class="fa-solid fa-plus"></i>
                  New diary
                </div>
                <div class="content-timelines-heading-arrow">
                  <h1>Your timelines</h1>
                  <div class="content-timelines-heading-arrow-list">
                    <div class="content-timelines-heading-arrow-list-item js-arrow-timeline-left">
                      <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="content-timelines-heading-arrow-list-item js-arrow-timeline-right">    
                      <i class="fa-solid fa-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-timelines-container">
                <div class="content-timelines-container-list js-list-item-timelines">
                  <div class="content-timelines-container-list-item timelines-item">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="content-timelines-container-list-item-date">29/06/2024</div>
                      <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                        <div class="content-timelines-container-list-item-overlay-if">
                          <h1 class="date-location">29/06/2024</h1>
                          <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                          <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                        </div>
                        <div class="content-timelines-container-list-item-overlay-list">
                            <div class="content-timelines-container-list-item-overlay-list-delete ">
                              <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                            </div>
                            <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                              Close
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  
                </div>
                <div class="content-timelines-container-list js-list-item-timelines">
                  <div class="content-timelines-container-list-item timelines-item">
                      <img src="../assets/imgsAll/imgProfile/Tokyo 3.png" alt="">
                      <div class="content-timelines-container-list-item-date">29/06/2024</div>
                      <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                        <div class="content-timelines-container-list-item-overlay-if">
                          <h1 class="date-location">29/06/2024</h1>
                          <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                          <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                        </div>
                        <div class="content-timelines-container-list-item-overlay-list">
                            <div class="content-timelines-container-list-item-overlay-list-delete ">
                              <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                            </div>
                            <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                              Close
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/Tokyo 3.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/Tokyo 3.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-timelines-container-list-item timelines-item">
                    <img src="../assets/imgsAll/imgProfile/Tokyo 3.png" alt="">
                    <div class="content-timelines-container-list-item-date">29/06/2024</div>
                    <div class="content-timelines-container-list-item-overlay timelines-item-overlay">
                      <div class="content-timelines-container-list-item-overlay-if">
                        <h1 class="date-location">29/06/2024</h1>
                        <div class="location">Location: <h3 class="name-location">Hai Duong</h3></div>
                        <span class="description-location">Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.</span>
                      </div>
                      <div class="content-timelines-container-list-item-overlay-list">
                          <div class="content-timelines-container-list-item-overlay-list-delete ">
                            <img src="../assets/imgsAll/imgProfile/image 330.png" alt="">
                          </div>
                          <div class="content-timelines-container-list-item-overlay-list-close timelines-item-close">
                            Close
                          </div>
                      </div>
                    </div>
                  </div>
                 
  
                </div>
                
               
              </div>
            </div>
            <div class="col-lg-11 col-md-12 content content-inspiration">
              <div class="content-inspiration-heading">
                <h1>Inspiration</h1>
                <div class="content-inspiration-heading-search">
                  <input type="text" placeholder="Search">
                  <img src="../assets/imgsAll/imgProfile/image 437.png" alt="">
                </div>
              </div>
              <div class="row g-0 content-inspiration-body">
                <div class="col-lg-10 col-md-12 content-inspiration-body-item" >
                      <div class="row g-0 content-inspiration-body-item-left">
                          <div class="col-lg-5 col-md-4 inspiration-left-contain ">
                              <div class="inspiration-left-contain-list js-list-img-inspi">
                                <!-- get anhr inspi tu csdl -->
                                <div class="inspiration-left-contain-list-img" style="background-image: url(../assets/imgsAll/imgProfile/Halong\ Bay\ 1.png);"></div>
                                <div class="inspiration-left-contain-list-img" style="background-image: url(../assets/imgsAll/imgProfile/Ha\ Long\ Bay\ Vietnam\ -\ \ a\ UNESCO\ World\ Heritage\ Site\ 4.png);"></div>  
                              </div>
                              <div class="inspiration-left-contain-arrow">
                                <i class="fa-solid fa-arrow-left js-arrow-left-inspi"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-arrow-right js-arrow-right-inspi"></i>
                              </div>
                            </div>
                          <div class="col-lg-7 col-md-8 inspiration-left-info">
                            <!-- lấy thông tin từ csdl lên mấy class có chữ infor- trước nha , có thể thay class infor- -->
                              <div class="inspiration-left-info-user">
                                <img class="info-user-avt" src="../assets/imgsAll/imgProfile/avt.png" alt="" >
                                <span class="info-user-username">qhoang1050</span>
                              </div>
                              <div class="info-account-description inspiration-left-info-description">
                                Cheap airfare maximizes travel, saving money for longer stays, diverse exploration, and unique experiences. Accessible flights enable frequent trips, broadening cultural horizons affordably.
                              </div>
                              <div class="inspiration-left-info-place">
                                <span class="info-accout-place">Vinh Ha Long - Ha Long - Viet Nam</span>
                                <i class="fa-solid fa-location-dot"></i>
                              </div>
                              <div class="inspiration-left-info-date">
                                <span class="info-accout-date">29/06/2024</span>
                                <i class="fa-solid fa-calendar"></i>
                              </div>
                              <div class="inspiration-left-info-member">
                                <h1>Members interaction</h1>
                                <div class="inspiration-left-info-member-list">
                                  <div class="info-account-comment inspiration-left-info-member-list-item">
                                    <span class="info-accout-comment-number">50</span>
                                    <i class="fa-solid fa-comment-dots"></i>
                                  </div>
                                  <div class="info-account-love inspiration-left-info-member-list-item">
                                    <span class="info-accout-love-number">200</span>
                                    <i class="fa-solid fa-comment-dots"></i>
                                  </div>
                                </div>
                                <div class="inspiration-left-info-member-btn">
                                  Delete
                                </div>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="col-lg-2 col-md-12 content-inspiration-body-item">
                  <div class="content-inspiration-body-item-menu">
                    
                    <div class="content-inspiration-body-item-menu-share js-show-overlay-inspiration">
                      <i class="fa-solid fa-share"></i>
                      <span>Share a new place</span>
                    </div>
                    <div class="content-inspiration-body-item-menu-post">
                        <div class="content-inspiration-body-item-menu-post-heading">
                          <span>Category post</span>
                          <img src="../assets/imgsAll/imgProfile/image 442.png" alt="">
                        </div>
                        <div class="content-inspiration-body-item-menu-post-button active">
                          Experience
                        </div>
                        <div class="content-inspiration-body-item-menu-post-button">
                          Healing
                        </div>
                        <div class="content-inspiration-body-item-menu-post-button">
                          Nature care
                        </div>

                    </div>
                    <div class="content-inspiration-body-item-menu-create">
                      <span>Create a group to care about nature</span>
                      <i class="fa-solid fa-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-11 col-md-12 content content-booking">
              <div class="content-booking-heading">
                <h1>Booking cart</h1>
                <div class="content-booking-heading-search">
                  <input type="text" placeholder="Search">
                  <img src="../assets/imgsAll/imgProfile/image 437.png" alt="">
                </div>
              </div>
              <div class="content-booking-body">
                <div class="content-booking-body-list">
                  <div class="content-booking-body-list-btn active">Plane ticket</div>
                  <div class="content-booking-body-list-btn">Tour</div>
                  <div class="content-booking-body-list-btn">Discount</div>
                </div>
                <div class="content-booking-body-contain">
                  <div class="content-booking-body-contain-content">
                    <div class="booking-ticket">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="booking-ticket-if">
                        <h1>Ha Noi - Busan</h1>
                      </div>
                    </div>
                    <div class="booking-ticket">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="booking-ticket-if">
                        <h1>Ha Noi - Busan</h1>
                      </div>
                    </div>
                    <div class="booking-ticket">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="booking-ticket-if">
                        <h1>Ha Noi - Busan</h1>
                      </div>
                    </div>
                    <div class="booking-ticket">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="booking-ticket-if">
                        <h1>Ha Noi - Busan</h1>
                      </div>
                    </div>
                    <div class="booking-ticket">
                      <img src="../assets/imgsAll/imgProfile/The 30 best things to do in Busan, South Korea — Helena Bradbury 2.png" alt="">
                      <div class="booking-ticket-if">
                        <h1>Ha Noi - Busan</h1>
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="col-lg-11 col-md-12 content content-setting">
                <h1>Setting</h1>
                <div class="content-setting-btn">
                 <div class="content-setting-btn-description">
                  <h1>Darkode</h1>
                  <span>Darkmode protects eyes, saves battery, and enhances interface aesthetics</span>
                 </div>
                 <div class="content-btn">
                  <i class="fa-solid fa-circle icon-light js-icon-light"></i>
                  <i class="fa-solid fa-circle icon-dark js-icon-dark"></i>
                  </div>
                </div>
                <div class="content-setting-btn">
                  <div class="content-setting-btn-description">
                   <h1>Log out</h1>
                  
                  </div>
                  <button type="submit">
                    <img src="../assets/imgsAll/imgProfile/image 428.png" alt="">
                  </button>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-timelines">
          <div class="modal-timelines">
              <div class="modal-timelines-heading">
                <i class="fa-solid fa-arrow-left js-close-new-dia"></i>
                <h1>Write a new diary</h1>
                <button type="submit" class="modal-timelines-heading-create">
                  Create
                </button>
              </div>
              <div class="row g-0 modal-timelines-body">
                  <div class="col-lg-6 col-md-6 modal-timelines-body-item">
                      <div class="modal-timelines-body-item-add">
                          <input type="file" id="inputPhotoTimeLine">
                          <div class="modal-timelines-body-item-add-content">
                            <img src="../assets/imgsAll/imgProfile/image 216.png" alt="">
                            <p>Add a photo</p>
                          </div>
                          <img src="" alt="" id="PhotoTimeLines">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 modal-timelines-body-item">
                      <div class="modal-timelines-body-item-content">
                        <div class="modal-timelines-body-item-content-user">
                          <!-- set thông tin người dùng ở đây -->
                          <img class="info-user-avt" src="../assets/imgsAll/imgProfile/avt.png" alt="">
                          <span class="info-user-username">qhoang1050</span>
                        </div>
                        <textarea type="text" class="modal-timelines-body-item-content-write" placeholder="Write something here about your journey..."></textarea>
                        <div class="modal-timelines-body-item-content-select">
                          <input name="" id="" placeholder="Choose an album">
                            
                          </input>
                          <i class="fa-solid fa-ellipsis"></i>
                        </div>
                       
                        <div class="modal-timelines-body-item-content-location">
                          <input type="text" placeholder="Add your location...">
                          </input>
                          <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="modal-timelines-body-item-content-date">
                          <input type="date" placeholder="Date">
                          </input>
                          
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="overlay-inspiration">
          <div class="modal-inspiration">
            <div class="modal-inspiration-heading">
              <i class="fa-solid fa-arrow-left js-close-new-inspi"></i>
              <h1>Write a new post</h1>
              <button type="submit" class="modal-inspiration-heading-create">
                Create
              </button>
            </div>
            <div class="row g-0 modal-inspiration-body">
              <div class="col-lg-6 col-md-6 modal-inspiration-body-left">
                <div class="modal-inspiration-body-left-add">
                  <input type="file" id="js-get-img-inspi">
                  <img src="../assets/imgsAll/imgProfile/image 410.png" alt="">
                  <span>Photo or video</span>
                </div>
                <div class="modal-inspiration-body-left-item">
                  <img src="" alt="" id="js-set-img-inspi">
                </div>
               
                
              </div>
              <div class="col-lg-6 col-md-6 modal-inspiration-body-item">
                <div class="modal-inspiration-body-item-content">
                  <div class="modal-inspiration-body-item-content-user">
                    <!-- set thông tin người dùng ở đây -->
                    <img class="info-user-avt" src="../assets/imgsAll/imgProfile/avt.png" alt="">
                    <span class="info-user-username">qhoang1050</span>
                  </div>
                  <textarea type="text" class="modal-inspiration-body-item-content-write" placeholder="Write something here about photo...  "></textarea>
                  <div class="modal-inspiration-body-item-content-select">
                    <select name="" id="" placeholder="Choose category of post">
                      <option value="">Healing post</option>
                      <option value="">Experience post</option>
                      <option value="">Nature care post</option>
                    </select>
                    <i class="fa-solid fa-ellipsis"></i>
                  </div>
                 
                  <div class="modal-inspiration-body-item-content-location">
                    <input type="text" placeholder="Add your location...">
                    </input>
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="modal-inspiration-body-item-content-date">
                    <input type="date" placeholder="Date">
                    </input>
                    
                  </div>
                </div>
            </div>
            </div>
          </div>
      </div>
        
       
    </div>
    <script src="../assets/Js/profile.js"></script>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
<!-- Embedded JavaScript -->

