<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://github.com/tvbacs/BaiTap_Java/blob/master/imgsAll/imgHome/image%20193.png?raw=true" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/scss/traveling.css">
    <link rel="stylesheet" href="../assets/ResCss/grid.css">
    <link rel="stylesheet" href="../assets/ResCss/Resmain.css">
    <link rel="stylesheet" href="../assets/ResCss/ResTraveling.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gt-Light&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DN&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>Booking | JourneyLife</title>
</head>
<body>
    <script>!function(s,u,b,i,z){var o,t,r,y;s[i]||(s._sbzaccid=z,s[i]=function(){s[i].q.push(arguments)},s[i].q=[],s[i]("setAccount",z),r=["widget.subiz.net","storage.googleapis"+(t=".com"),"app.sbz.workers.dev",i+"a"+(o=function(k,t){var n=t<=6?5:o(k,t-1)+o(k,t-3);return k!==t?n:n.toString(32)})(20,20)+t,i+"b"+o(30,30)+t,i+"c"+o(40,40)+t],(y=function(k){var t,n;s._subiz_init_2094850928430||r[k]&&(t=u.createElement(b),n=u.getElementsByTagName(b)[0],t.async=1,t.src="https://"+r[k]+"/sbz/app.js?accid="+z,n.parentNode.insertBefore(t,n),setTimeout(y,2e3,k+1))})(0))}(window,document,"script","subiz", "acrzktsftuwtzptyljyt")</script>
    <div class="main">
        <header class="header js-header">
            <div class="grid wide">
            <div class="header__navbar">
                <a href="" class="header__navbar-logo"> 
                    <img src="../assets/imgsAll/Logo/logowhite.png" alt="">
                </a>
                <ul class="header__navbar-center">
                    <li ><a href="/index.html">Home</a></li>
                    <li><a href="../assets/html/vietnam.html">VietNam</a></li>
                    <li><a href="../assets/html/inspiration.html">Inspiration</a></li>
                    <li style="border-bottom: 3px solid var(--primary-color);"><a href="#" >Traveling</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <div class="header__navbar-right">
                    <div class="header__navbar-right-item header__navbar-right-item--search js-navbar-search">
                        <i class="ti-search"></i>
                        <div class="item--search-content js-content">
                            <div class="item--search-content-header">
                                <input type="text" class="search-input">
                                <label for="search-input">Let me know your ideas</label>
                                <p class="js-cancel"><i class="ti-close"></i></p>
                            </div>
                            <div class="item--search-content-unheader"><span>Find</span></div>
                            <div class="item--search-content-body">

                            </div>
                        </div>
                    </div>
                    <div class="header__navbar-right-item ">
                       <i class="js-open-menu ti-menu"></i>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <header class="header--two js-header-two">
            <div class="grid wide">
            <div class="header--two__navbar">
                <a href="#" class="header--two__navbar-logo js-logo-two">
                    <img src="../assets/imgsAll/Logo/logoprimary.png" alt=""> </a>
                <ul class="header--two__navbar-center js-header-two-center-item">
                    <li><a href="/index.html"class="js-navbartwo-link">Home</a></li>
                    <li ><a href="../assets/html/vietnam.html" class="js-navbartwo-link">VietNam</a></li>
                    <li><a href="../assets/html/inspiration.html" class="js-navbartwo-link">Inspiration</a></li>
                    <li><a href="#" class="js-navbartwo-link">Traveling</a></li>

                    <li><a href="/contact" class="js-navbartwo-link">Contact</a></li>
                    
                </ul>
                <div class="header--two__navbar-right">
                    <div class="header--two__navbar-right-item ">
                        <i class="fa-solid fa-magnifying-glass js-navbar-two-search"> 
                        </i>
                    </div>
                   
                    <div class="header--two__navbar-right-item js-nav">
                        <i class="js-open-menu fa-solid fa-bars js-navbartwo-menu"></i>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <div class="slider background-image">
            <div class="slider__content-title">
                <h1>Enjoy your journey and <br> explore more place</h1>
                <span>Let's book a tour or flight to a top festival, immersing ourselves in <br> vibrant cultures while exploring new countries.</span>
            </div>
            <div class="slider-search">
                <div class="slider-search-item">
                    <h1>Your location</h1>
                    <span>Viet Nam</span>
                </div>
                <div class="slider-search-item">
                    <h1>Plane ticket</h1>
                    <span>Have -20% price today</span>
                </div>
                <div class="slider-search-item">
                    <h1>The best tour</h1>
                    <span>Suggest by JourneyLife</span>
                </div>
                <div class="slider-search-item">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
            </div>
        </div>
        <div class="body js-change-background ">
            <div class="grid wide">
                <div class="body-festival">
                    <div class="body-festival-heading">
                        <h1>The top festival</h1>
                    </div>
                    <div class="body-festival-list js-list-festival">
                        <div class="body-festival-list-item">
                            <img src="../assets/imgsAll/imgTraveling/image 476.png" alt="">
                            <div class="body-festival-list-item-content">
                                <h1></h1>
                                <div class="body-festival-list-item-content-place">
                                    <div class="body-festival-list-item-content-place-country">VietNam festival</div>
                                    <h1>Da Nang International <br> firework festival</h1>
                                </div>
                                <div></div>
                                <a href="" class="body-festival-list-item-content-description">
                                    <i class="ti-arrow-top-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="body-festival-list-item">
                            <img src="../assets/imgsAll/imgTraveling/image 529.png" alt="">
                            <div class="body-festival-list-item-content">
                                <div></div>
                                <div class="body-festival-list-item-content-place">
                                    <div class="body-festival-list-item-content-place-country">VietNam festival</div>
                                    <h1>Viet Nam lunar <br> new year</h1>
                                </div>
                                <div></div>
                                <a href="" class="body-festival-list-item-content-description">
                                    <i class="ti-arrow-top-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="body-arrow">
                        <div class="body-arrow-btn js-arrow-left-festival">
                            <i class="fa-solid fa-caret-left"></i>
                        </div>
                        <div class="body-arrow-btn js-arrow-right-festival">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                        
                    </div>
                    <div class="body-festival-dots">
                        <i class="fa-solid fa-circle active js-dot-festival"></i>
                        <i class="fa-solid fa-circle js-dot-festival"></i>
                    </div>
                </div>
                <div class="body-tickets">
                    <h1>Plane tickets</h1>
                    <div class="body-tickets-category">
                        <div class="body-tickets-category-item active">Vietnam Airline</div>
                        <div class="body-tickets-category-item ">Korea Air</div>
                        <div class="body-tickets-category-item ">ANA</div>
                    </div>
                    <div class="search-traveling">
                        <div class="search-traveling-input">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Search...">
                        </div>
                        <div class="search-traveling-date">
                            <input type="date">
                        </div>
                        <div class="search-traveling-price">
                            Price
                            <i class="fa-solid fa-arrow-up"></i>
                        </div>
                    </div>
                    <div class="body-tickets-list js-list-tickets">
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        
                    </div>
                    <div class="body-tickets-list js-list-tickets hidden">
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        
                    </div>
                    <div class="body-tickets-list js-list-tickets hidden">
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        <div class="body-tickets-list-item">
                            <img src="../assets/imgsAll/imgTraveling/Ho Chi Min City 2.png" alt="">
                            <div class="body-tickets-list-item-content">
                                <h1>Ho Chi Minh City - Ha Noi</h1>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 478.png" alt="">
                                    <span>3.500.000(VND) - $80</span>
                                </div>
                                <div class="body-tickets-list-item-content-price">
                                    <img src="../assets/imgsAll/imgTraveling/image 479.png" alt="">
                                    <span>6:00 a.m - 8:00 a.m</span>
                                </div>
                            </div>
                            <div class="body-tickets-list-item-button">Book</div>
                        </div>
                        
                    </div>
                    <div class="arrow-traveling arrow-traveling-ticket">
                        <div class="arrow-traveling-btn js-arrow-left-tickets">
                            <i class="fa-solid fa-caret-left"></i>
                        </div>
                        <div class="arrow-traveling-btn js-arrow-right-tickets">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </div>
                </div>
                <div class="body-discounts">
                        <h1>Some discounts for you</h1>
                        <div class="body-discounts-category">
                            <div class="body-discounts-category-item active">Plane tickets</div>
                            <div class="body-discounts-category-item ">Tour discount</div>
                        </div>
                        <div class="body-discounts-list js-list-discounts">
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                        </div>
                        <div class="body-discounts-list js-list-discounts hidden">
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                            <div class="body-discounts-list-item">
                                <img src="../assets/imgsAll/imgTraveling/Halong Bay 1.png" alt="">
                                <h1>-20%</h1>
                                <div class="body-discounts-list-item-content">
                                    <h1>Discount for plane ticket</h1>
                                    <div class="body-discounts-list-item-content-date">
                                        <img src="../assets/imgsAll/imgTraveling/image 149.png" alt="">
                                        EXP date: 24/05/2024
                                    </div>
                                </div>
                                <div class="body-discounts-list-item-btn">
                                    Get
                                </div>
                            </div>
                        </div>
                        
                        <div class="arrow-traveling arrow-traveling-discounts">
                            <div class="arrow-traveling-btn js-arrow-left-discounts">
                                <i class="fa-solid fa-caret-left"></i>
                            </div>
                            <div class="arrow-traveling-btn js-arrow-right-discounts">
                                <i class="fa-solid fa-caret-right"></i>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="footer-content">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-3 m-5 c-12">
                                <div class="footer-left">
                                   <div class="footer-left-logo">
                                    <img src="../assets/imgsAll/Logo/logoprimary.png" alt="">
                                    <span>&copy Copyright 2024 - Corlour of Bugs group</span>
                                   </div>
                                    <div class="footer-left-contact">
                                        <a href="" class="footer-left-contact-item">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                        <a href="" class="footer-left-contact-item">
                                            <i class="fa-solid fa-phone"></i>
                                            <span>1900 1511</span>
                                        </a>
                                        <a href="" class="footer-left-contact-item">
                                            <i class="fa-regular fa-paper-plane"></i>
                                            <span>Customer service</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-5 m-5 c-12">
                                <div class="footer-center">
                                    <ul class="footer-center-item">Explore
                                            <li><a href="">Viet Nam</a></li>
                                            <li><a href="">Food</a></li>
                                            <li><a href="">Best tour</a></li>
                                            <li><a href="">Write diaries</a></li>
                                            <li><a href="">Festival</a></li>
                                    </ul>
                                    <ul class="footer-center-item">Comunicate
                                        <li><a href="">Connect</a></li>
                                        <li><a href="">Share your ideas</a></li>
                                        <li><a href="">Rate website</a></li>
                                     </ul>
                                     <ul class="footer-center-item">Inspire
                                        <li><a href="">Healing</a></li>
                                        <li><a href="">Experience</a></li>
                                        <li><a href="">Care nature</a></li>
                                     </ul>
                              </div>
                            </div>
                            <div class="col l-4 m-12 c-12">
                                <div class="footer-right">
                                    <h1>Get the new letters</h1>
                                    <div class="footer-right-write">
                                        <i class="fa-solid fa-envelope"></i>
                                        <input type="text"placeholder="Write your email...">
                                        <button class="footer-right-write-btn">Send</button>
                                    </div>
                                    <div class="footer-right-social">
                                        Social media: 
                                        <a href="">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        <!-- OVERLAY -->
        <div class="overlay overlay-menu js-overlay-menu">
            <div class="modal-menu js-modal-menu js-change-background-pr ">
                <div class="modal-menu-header ">
                    <div class="modal-menu-header-logo"></div>
                    <i class="js-btn-close-menu fa-solid fa-bars js-change-color"></i>
                </div>
                <div class="modal-menu-body">
                    <a id="profileLink" class="modal-menu-body-user">
                      <img src="../assets/imgsAll/imgHome/AVT-FB CỦA TUI.jpg" id = "avatar" alt="">
                      <div class="modal-menu-body-user-content">
                        <h1 class="modal-menu-body-user-content-heading" id='fullname'>Color of bugs</h1>
                        <span id='email'>colorofbug@gmail.com</span>
                      </div>
                    </a>
                    <div class="modal-menu-body-utilities">
                        <a href="" class="modal-menu-body-utilities-btn">
                            <div class="modal-menu-body-utilities-btn-left">
                                <img src="../assets/imgsAll/imgHome/image 532.png" alt="">
                                <span>Message</span>
                            </div>
                            <span class="info-account-message-number">5</span>
                        </a>
                        <a href="" class="modal-menu-body-utilities-btn">
                            <div class="modal-menu-body-utilities-btn-left">
                                <img src="../assets/imgsAll/imgHome/image 533.png" alt="">
                                <span>Cart</span>
                            </div>
                            <span class="info-account-cart-number">5</span>
                        </a>
                        <a href=" " class="modal-menu-body-utilities-btn">
                            <div class="modal-menu-body-utilities-btn-left">
                                <img src="../assets/imgsAll/imgHome/image 541.png" alt="">
                                <span>Notification</span>
                            </div>
                            <span class="info-account-cart-number">5</span>
                        </a>
                        <div class="modal-menu-body-utilities-btn">
                            <div class="modal-menu-body-utilities-btn-left">
                                <img src="../assets/imgsAll/imgHome/image 535.png" alt="">
                                <span>Darkmode</span>
                            </div>
                            <div class="content-btn">
                                <i class="fa-solid fa-circle icon-light js-icon-light"></i>
                                <i class="fa-solid fa-circle icon-dark js-icon-dark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-menu-body-navbar">
                            <a href="/index.html" class="modal-menu-body-navbar-btn">
                                <img src="../assets/imgsAll/imgHome/image 536.png" alt="">
                                <span>Home</span>
                            </a>
                            <div class="modal-menu-body-navbar-btn js-show-list-navbar">
                                <img src="../assets/imgsAll/imgHome/image 537.png" alt="">
                                <span>Explore</span>
                            </div>
                            <div class="modal-menu-body-navbar-btn modal-menu-body-navbar-btn--explore js-show-navbar">
                                <a href="../assets/html/korea.htm">Korea</a>
                                <a href="../assets/html/Japan.html">Japan</a>
                            </div>
                            <a href="../assets/html/vietnam.html" class="modal-menu-body-navbar-btn">
                                <img src="../assets/imgsAll/imgHome/halong-bay-vietnam (2) 2.png" alt="">
                                <span>Viet Nam</span>
                            </a>
                            <a href="../assets/html/inspiration.html" class="modal-menu-body-navbar-btn">
                                <img src="../assets/imgsAll/imgHome/image 538.png" alt="">
                                <span>Inspiration</span>
                            </a>
                            <a href="#" class="modal-menu-body-navbar-btn">
                                <img src="../assets/imgsAll/imgHome/image 539.png" alt="">
                                <span>Traveling</span>
                            </a>
                            <a href="/contact" class="modal-menu-body-navbar-btn">
                                <img src="../assets/imgsAll/imgHome/image 540.png" alt="">
                                <span>Comunicate</span>
                            </a>
                            <a href="../assets/html/login.html" class="modal-menu-body-navbar-btn modal-menu-body-navbar-btn--login">
                                <span>Login</span>
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                    </div>
                </div>          
               
          
        </div>
         </div>
        <div class="button-arrow">
            <i class="ti-arrow-up"></i>
        </div>
    </div>
    <!-- overlay book -->
    
</div>

</body>
<script src="../assets/Js/traveling.js"></script>
</html>