@import './valiable';
@import './function';
@import './mixin';

.slider{
    background-image:url(../imgsAll/imgTraveling/sliderimg.png);
    padding-top: 50%;
    position:relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    &-search{
        position:absolute;
        width:80%;
        height:120px;
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(200px);
        border-radius: 20px;
        @include absoluteCenter("left");
        @include flex();
        justify-content: space-between;
        align-items: center;
        padding:20px 30px;
        bottom:-50px;
        z-index: 1;
        &-item{
            color:$text-color;
            i{
                padding:12px;
                background-color:#776B5D;
                color:white;
                font-size: 16px;
                border-radius: 50%;
                cursor:pointer;
            }
            h1{
                font-size: 18px;
            }
            span{
                font-size: 16px;
            }
            &:nth-child(2){
                border-left: 1px solid #776B5D;
                border-right: 1px solid #776B5D;
                padding:0 50px;
            }
        }
    }
    .slider__content-title{
        position:absolute;
        top:30%;
        left:5%;
        text-shadow : 1px 1px 10px rgba(0, 0, 0,.5);
        text-align: left;
        h1{
            font-size: 50px;
            color:white;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 10px;
        }
        span{
            font-size: 20px;
            color:white;
            font-weight: 100;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
}
.arrow-traveling{
    @include flex();
    padding:0 10px;
    display:none;
    width: 100%;
    @include absoluteCenters("both");
    justify-content:space-between;
    &-btn{
        width:40px;
        height:40px;
        border-radius: 50%;
        cursor:pointer;
        background-color:rgba(255,255,255,0.7);
        backdrop-filter: blur(250);
        @include flex();
        justify-content:center;
        align-items:center;
        i{
            font-size: 20px;
            color:#776B5D;
           
        }
    }
}
.search-traveling{
    margin-top: 20px;
   width:100%;
   @include flex();
   &-input{
    width: 300px;
    max-width: 100%;
    @include flex();
    height:35px;
    border-radius: 20px;
    background-color: #F3F3F5;
    padding:5px 10px;
    color:$text-color;
    input{
        @include input();
        font-size: 12px;
        flex:1;
    }
    i{
    margin-right: 5px;
    font-size: 16px;
    }
   }
   &-date{
    width:200px;
    height:35px;
    border-radius: 20px;
    background-color: #F3EEEA;
    padding:5px 10px;
    margin:0 20px;
    @include flex();
    align-items:center;
    color:$text-color;
    input{
        @include input();
        width:100%;
        font-size: 12px;
    }
   } 
   &-price{
    @include flex();
    background-color: #F3EEEA;
    width:100px;
    padding:5px 10px;
    height:35px;
    justify-content:space-between;
    border-radius: 20px;
    font-size: 12px;
    color:$text-color;
    font-weight: 550;
    cursor:pointer;
    i{
        font-size: 14px;
    }
   }
}
.body{
    width:100%;
    position:relative;
    margin:100px 0 50px 0;
    
    &-festival{
        position: relative;
        &-heading{
            position: absolute;
            top:10px;
            font-size: 15px;
            z-index:1;
            color:$white-color;
            left:20px;  
        }
        &-list{
            width:100%;
            @include flex();
            overflow-x: hidden;
            scroll-behavior: smooth;
            &-item{
                margin-right: 20px;
                position: relative;
                flex:0 0 auto;
                img{
                    @include img();
                    height:600px;
                    border-radius: 20px;
                }
                &-content{
                    position:absolute;
                    padding:30px;
                    top:0;
                    right:0;
                    left:0;
                    bottom:0;
                    background-color: rgba(0, 0, 0,0.1);
                    @include flex();
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: normal;
                    border-radius: 30px;
                    h1{
                        font-size: 25px;
                        color:white;
                    }
                    &-place{
                        &-country{
                            font-weight: 300;
                            width:100px;
                            height:25px;
                            line-height: 25px;
                            text-align: center;
                            border-radius: 20px;
                            font-size: 12px;
                            background-color: #F3EEEA;
                            color:$text-color;
                        }
                        h1{
                            font-size: 40px;
                            color:white;
                            font-weight: 500;
                            margin:10px 0;
                        }
                    }
                    &-description{
                        @include tagA();
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        @include flex();
                        justify-content:center;
                        align-items: center;
                        cursor:pointer;
                        background-color:#F3EEEA;
                        position:absolute;
                        bottom:15px;
                        right:15px;

                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .body-arrow{
            @include flex();
            padding:0 10px;
            display:none;
            width: 100%;
            
            @include absoluteCenter("both");
            justify-content:space-between;
            &-btn{
                width:40px;
                height:40px;
                border-radius: 50%;
                cursor:pointer;
                background-color:rgba(255,255,255,0.7);
                backdrop-filter: blur(250);
                @include flex();
                justify-content:center;
                align-items:center;
                i{
                    font-size: 20px;
                    color:#776B5D;
                   
                }
            }
        }
        &-dots{
            margin-top: 20px;
            width:100%;
            @include flex();
            justify-content:center;
            i{
            font-size:6px;
            color:#65594B;
            margin-right: 10px;
            cursor:pointer;
            &.active{
                font-size: 10px;
            }
            }
            
        }
        &:hover .body-arrow{ 
            display:flex;
        }
    }
    &-tickets{
        position:relative;
        h1{
            color:$text-color;
            font-size: 30px;
        }
        &-category{
            @include flex();
            &-item{
                margin-right: 30px;
                color:$text-color;
                padding:2px 0;
                font-size: 18px;
                cursor:pointer;
                &.active{
                    font-weight: bold;
                    border-bottom: 2px solid #65594B;
                }
            }
        }
        &-list{
            width:100%;
            @include flex();
            scroll-behavior: smooth;
            margin:20px 0;
            overflow-x: hidden;
            padding:10px;
            &-item{
                width:300px;
                border-radius: 35px;
                box-shadow: 0px 0px 2px  rgba(0,0,0,0.5);
                position:relative;
                @include flex();
                flex-direction: column;
                align-items: flex-start;
                padding:10px;
                height:450px;
                margin-right: 20px;
                flex:0 0 auto;
                img{
                    @include img();

                }
                &-content{
                    color:$text-color;
                    h1{
                        font-size: 16px;
                    }
                    &-price{
                        @include flex();

                        img{
                            @include img();
                            width:15px;
                            margin-right: 5px;
                        }
                        span{
                            font-size: 12px;
                        }
                        margin-bottom: 5px;
                    }
                }
                &-button{
                    width:120px;
                    border-radius: 20px;
                    color:white;
                    text-align: center;
                    height:30px;
                    line-height:30px;
                    background-color: #B0A695;
                    position:absolute;
                    bottom:20px;
                    font-size: 14px;
                    font-weight: 550;
                    right:20px;
                    cursor:pointer;
                }
            }
        }
        .hidden{
            display:none;
        }
        &:hover .arrow-traveling-ticket{
            display:flex;
        }
    }
    &-discounts{
        position:relative;
        > h1{
            color:$text-color;
            font-size: 30px;
        }
        &-category{
            @include flex();
            &-item{
                margin-right: 30px;
                color:$text-color;
                padding:2px 0;
                font-size: 18px;
                cursor:pointer;
                &.active{
                    font-weight: bold;
                    border-bottom: 2px solid #65594B;
                }
            }
        }
        &-list{
            width:100%;
            @include flex();
            scroll-behavior: smooth;
            margin:20px 0;
            overflow-x: hidden;
            padding:10px;
            &-item{
                width:300px;
                border-radius: 20px;
                position:relative;
                margin-right: 20px;
                flex:0 0 auto;
                img{
                    @include img();
                }
                > h1{
                    @include absoluteCenter("both");
                    font-family: 'Seaweed Script', cursive;
                    font-size: 50px;
                    color:white;
                }
                &-content{
                    position:absolute;
                    bottom:20%;
                    color:white;
                    left:10px;
                    > h1{
                        font-size: 16px;
                    }
                    &-date{
                        @include flex();
                        img{
                            @include img();
                            width:15px;
                            margin-right: 5px;
                        }
                        font-size: 14px;
                    }
                }
                &-btn{
                    position:absolute;
                    bottom:20px;
                    right:20px;
                    border:1px solid white;
                    width:100px;
                    height:30px;
                    border-radius: 30px;
                    font-size: 14px;
                    color:white;
                    text-align: center;
                    line-height: 30px;
                    font-weight: 550;
                    cursor:pointer;
                }
            }
        }
        .hidden{
            display: none;
        }
        &:hover .arrow-traveling-discounts{
            display: flex;
        }
    }
}